    <!-- TABS SUB NAVIGATION -->
    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
        <div class="govuk-grid-column-full govuk-!-margin-left-0">
          <nav class="moj-sub-navigation govuk-!-display-none-print" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list ">
  
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "overview" %} aria-current="page"{% endif %} href="/{{ v }}/san/{{ ref }}/profile/">Overview</a>
              </li>
              
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "supportstrategies" %} aria-current="page"{% endif %} href="/{{ v }}/san/{{ ref }}/profile/support-strategies/">Support strategies</a>
              </li>
  
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "challenges" %} aria-current="page"{% endif %} href="/{{ v }}/san/{{ ref }}/profile/challenges/">Challenges</a>
              </li>
  
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "strengths" %} aria-current="page"{% endif %} href="/{{ v }}/san/{{ ref }}/profile/strengths/">Strengths</a>
              </li>
  
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "conditions" %} aria-current="page"{% endif %} href="/{{ v }}/san/{{ ref }}/profile/conditions/">Conditions</a>
              </li>
            
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link"{% if currentpage == "supportplan" %} aria-current="page"{% endif %} href="#">Education support plan</a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>