<div class="hmpps-actions-block govuk-!-margin-bottom-5 govuk-!-padding-bottom-3">
  <ul class="hmpps-actions-block__list">
    <li class="noflex">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Actions</h3>
    </li>
    <li class="noflex noborder profile-action-links govuk-!-margin-top-2">
      <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/add/category" class="govuk-link govuk-link--no-visited-state">Add support strategy</a>
    </li>
    <li class="noflex noborder profile-action-links">
      <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/challenges/add/category" class="govuk-link govuk-link--no-visited-state">Add challenge</a>
    </li>
    <li class="noflex noborder profile-action-links">
      <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/strengths/add/category" class="govuk-link govuk-link--no-visited-state">Add strength</a>
    </li>
    <li class="noflex noborder profile-action-links">
      <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add condition</a>
    </li>
  </ul>
</div>