{% extends "/layouts/v5.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post">
              <span class="govuk-caption-l">Review an education support plan</span>
              <h1 class="govuk-heading-l">Review {{ prisoner.firstName }} {{ prisoner.lastName }}'s need for support in the classroom from prisoner learning needs staff</h1>

              {% if prisoner.educationPlan %}
                {% for plan in prisoner.educationPlan %}

                  <div class="govuk-inset-text">
                    {% if plan.lnspSupportDetails != "" %}
                      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Recommended support details</p>
                      <p class="govuk-body">{{ plan.lnspSupportDetails | safe }}</p>
                      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Recommended number of hours</p>
                      <p class="govuk-body">{{ plan.lnspSupportHours | safe }}</p>
                    {% else %}
                      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Current classroom support</p>
                      <p class="govuk-body">None</p>
                    {% endif %}
                  </div>

                  {% set detailsHtml %}
                    {{ govukTextarea({
                      id: "san-"+v+"-"+ref+"-review-lnspsupport-details",
                      name: "san-"+v+"-"+ref+"-review-lnspsupport-details",
                      label: {
                        text: "Add recommended support details"
                      },
                      value: plan.lnspSupportDetails | safe
                    }) }}
                    {{ govukInput({
                      id: "san-"+v+"-"+ref+"-review-lnspsupport-hours",
                      name: "san-"+v+"-"+ref+"-review-lnspsupport-hours",
                      label: {
                        text: "Add recommended number of hours"
                      },
                      hint: {
                        text: "This can be an estimate"
                      },
                      value: plan.lnspSupportHours
                    }) }}
                  {% endset -%}

                  {{ govukRadios({
                    name: "san-"+v+"-"+ref+"-review-lnspsupport",
                    fieldset: {
                      legend: {
                        text: "Do you want to change this?",
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: checked("san-"+v+"-"+ref+"-review-lnspsupport","Yes"),
                        conditional: {
                          html: detailsHtml
                        }
                      },
                      {
                        value: "No",
                        text: "No",
                        checked: checked("san-"+v+"-"+ref+"-review-lnspsupport","No")
                      }
                    ]
                  }) }}

                  {{ govukButton({
                    text: "Continue"
                  }) }}

                {% endfor %}
              {% endif %}

            </form>

          </div>
          <div class="govuk-grid-column-one-third">
            {% include "includes/"+v+"/san-aside-needs.html" %}
          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
