{% extends "/layouts/v4.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post">
              <span class="govuk-caption-l">Create an education support plan</span>

              {% set detailsHtml %}
                {{ govukTextarea({
                  id: "san-"+v+"-"+ref+"-create-teachingadjust-details",
                  name: "san-"+v+"-"+ref+"-create-teachingadjust-details",
                  label: {
                    text: "Add details"
                  },
                  value: data["san-"+v+"-"+ref+"-create-teachingadjust-details"]
                }) }}
              {% endset -%}

              {{ govukRadios({
                name: "san-"+v+"-"+ref+"-create-teachingadjust",
                fieldset: {
                  legend: {
                    text: "Does "+prisoner.firstName+" "+prisoner.lastName+" need any adjustments to teaching, learning environment or materials?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: "For teaching this could be breaking down tasks, revisiting key concepts or giving additional processing time. For materials and environment adjustments, a desk at the front of class or near the door, materials on coloured background, overlays, specific font sizes, diagrammatic materials and assistive technology."
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("san-"+v+"-"+ref+"-create-teachingadjust","Yes"),
                    conditional: {
                      html: detailsHtml
                    }
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("san-"+v+"-"+ref+"-create-teachingadjust","No")
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

          </div>
          <div class="govuk-grid-column-one-third">
            {% include "includes/"+v+"/san-aside-needs.html" %}
          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
