{% extends "/layouts/v5.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">


    {% for prisoner in data[v+'prisoners'] %}
      {% if prisoner.prisonerNumber == ref %}
  
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <span class="govuk-caption-l">Edit support strategy</span>
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
            Edit description of {{ prisoner.firstName }} {{ prisoner.lastName }}'s support strategy
          </label>
        </h1>

        <h2 class="govuk-heading-m">
          Category of support strategy
        </h2>
        <p class="govuk-body">{{thiscat}}</p>

        <h2 class="govuk-heading-m">
          Description of support strategy
        </h2>
        <p class="govuk-body govuk-hint">Specify what support is needed and where, for example in a workshop or on the wing</p>
        
              
      {% set countSup = 0 %}
      {% for needs in prisoner.needsSupport %}
      {% set countSup = countSup + 1 %}
        {# Check if needsSupport has an item in this category #}

          {% if thiscount == countSup %}

            
        {{ govukTextarea({
          id: "san-"+v+"-"+ref+"-support-desc",
          name: "san-"+v+"-"+ref+"-support-desc",
          value: needs.needsSupportDescription | safe 
        }) }}

        {% endif %}
      {% endfor %}

        {{ govukButton({
          text: "Update support strategy"
        }) }}
      
      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      {% include "includes/"+v+"/san-aside-challenges.html" %}

    </div>
  </div>
</div>


    {% endif %}
  {% endfor %}
{% endblock %}
