{% extends "/layouts/v5.html" %}

{% set currentpage = "supportstrategies" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/{{ v }}/san/">Support for additional needs</a>
        </li>
      </ol>
    </nav>

  </div>
{% endblock %}

{% block content %}

{% for prisoner in data[v+'prisoners'] %}
  {% if prisoner.prisonerNumber == ref %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  
    <!-- TITLE PAGE + print-->
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ prisoner.firstName }} {{ prisoner.lastName }}'s support for additional needs</h1>
    </div>

    <div class="govuk-grid-column-full">

      {% if data['prevurl'] == "check-answers" %}
        {{ mojAlert({
          variant: "success",
          title: "Education suppport plan created",
          dismissible: false
        }) }}
      {% endif %}

      {% include "includes/"+v+"/san-miniprofile.html" %}      

    </div>
  
  </div>
  <div class="govuk-grid-row">
    
    {% include "includes/"+v+"/san-subnav.html" %}

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Support strategies
      </h2>
      
      
      
      

      {# set tracker for categories prisoner has content it #}
      {% set cats = [] %}

      
{% set currentHtml %}

      {# Check if prisoner has any recorded needs #}
      {%
        if prisoner.needsSupport
      %}

        {# Loop through all categories of need #}
        {% for categories in data[v+'categories'] %}

          {# Loop through all support needs of prisoner #}
          {% for needs in prisoner.needsSupport %}
            {# Check if needsSupport has an item in this category #}
            {% if needs.needsSupportCategory == categories.categoryName %}
              {# Add this category to an array of categories associated with this prisoner #}
              {% if not categories.categoryName in cats %}
                {% set cats = (cats.push(categories.categoryName), cats) %}
              {% endif %}
            {% endif %}
          {% endfor %}

        {% endfor %}


        {% for cat in cats %}
                
              
                {% set countSup = 0 %}
                {% set prevCat = "" %}
                {% for needs in prisoner.needsSupport %}
                  {% set countSup = countSup + 1 %}
                  {# Check if needsSupport has an item in this category #}
                  {% if needs.needsSupportCategory == cat %}

                    prevcat: {{prevCat}}<br>
                    currentcat: {{cat}} <br>

                    {% if not needs.needsSupportArchiveReason %}

                      {% if prevCat != cat %}
                        <section class="app-summary-card govuk-!-margin-bottom-6">
                          <header class="app-summary-card__header">
                            <h2 class="app-summary-card__title">
                              {{ cat }}
                            </h2>
                          </header>
                          <div class="app-summary-card__body">
                            <dl class="govuk-summary-list san-needs-list">
                      {% endif %}

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            {{ needs.needsSupportDescription | safe }}
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body-s"><a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/edit/{{ needs.needsSupportCategory }}/{{ countSup }}" class="govuk-link govuk-link--no-visited-state">Edit</a></p>
                            <p  class="govuk-body-s"><a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/archive/{{ needs.needsSupportCategory }}/{{ countSup }}" class="govuk-link govuk-link--no-visited-state">Move to History</a></p>
                            <span class="govuk-body-s">{% if needs.needsSupportLastAction %}{{ needs.needsSupportLastAction }} {% else %}Added{% endif %} {{ needs.needsSupportDate }} by {{ needs.needsSupportAuthor }}</span>
                          </dd>
                        </div>

                      {% if prevCat != cat %}
                          </dl>        
            
                        </div>
                      </section>
                      {% endif %}
                    {% endif %}

                  {% endif %}
                  {% set prevCat = needs.needsSupportCategory %}
                {% endfor %}
                
          {% set countSup = 0 %}
        {% endfor %}

      {% else %}
      
        <section class="app-summary-card govuk-!-margin-bottom-6">
          <div class="app-summary-card__body">
            <p class="govuk-body govuk-!-margin-top-3">This prisoner has no support strategies recorded.</p>
          </div>
        </section>

      {% endif %}
{% endset -%}


{% set historyHtml %}

      {# Check if prisoner has any recorded needs #}
      {%
        if prisoner.needsSupport
      %}

        {# Loop through all categories of need #}
        {% for categories in data[v+'categories'] %}

          {# Loop through all support needs of prisoner #}
          {% for needs in prisoner.needsSupport %}
            {# Check if needsSupport has an item in this category #}
            {% if needs.needsSupportCategory == categories.categoryName %}
              {# Add this category to an array of categories associated with this prisoner #}
              {% if not categories.categoryName in cats %}
                {% set cats = (cats.push(categories.categoryName), cats) %}
              {% endif %}
            {% endif %}
          {% endfor %}

        {% endfor %}


        {% for cat in cats %}

                
                {% set countSup = 0 %}
                {% set prevCat = "" %}
                {% for needs in prisoner.needsSupport %}
                  {% set countSup = countSup + 1 %}
                  {# Check if needsSupport has an item in this category #}
                  {% if needs.needsSupportCategory == cat %}

                    {% if needs.needsSupportArchiveReason %}
{% if prevCat != cat %}
                    <section class="app-summary-card govuk-!-margin-bottom-6">
                      <header class="app-summary-card__header">
                        <h2 class="app-summary-card__title">
                          {{ cat }}
                        </h2>
                      </header>
                      <div class="app-summary-card__body">
                        <dl class="govuk-summary-list san-needs-list">
{% endif %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        {{ needs.needsSupportDescription | safe }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body-s"><a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/edit/{{ needs.needsSupportCategory }}/{{ countSup }}" class="govuk-link govuk-link--no-visited-state">Edit</a></p>
                        <p  class="govuk-body-s"><a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/archive/{{ needs.needsSupportCategory }}/{{ countSup }}" class="govuk-link govuk-link--no-visited-state">Move to History</a></p>
                        <span class="govuk-body-s">{% if needs.needsSupportLastAction %}{{ needs.needsSupportLastAction }} {% else %}Added{% endif %} {{ needs.needsSupportDate }} by {{ needs.needsSupportAuthor }}</span>
                      </dd>
                    </div>


{% if prevCat != cat %}
                        </dl>        
          
                      </div>
                    </section>
{% endif %}
{% set prevCat = needs.needsSupportCategory %}
                    {% endif %}

                  {% endif %}
                {% endfor %}
                
          {% set countSup = 0 %}
        {% endfor %}

      {% else %}
      
        <section class="app-summary-card govuk-!-margin-bottom-6">
          <div class="app-summary-card__body">
            <p class="govuk-body govuk-!-margin-top-3">This prisoner has no support strategies recorded.</p>
          </div>
        </section>

      {% endif %}
{% endset -%}


      {{ govukTabs({
        items: [
          {
            label: "Current",
            id: "current",
            panel: {
              html: currentHtml
            }
          },
          {
            label: "History",
            id: "history",
            panel: {
              html: historyHtml
            }
          }
        ]
      }) }}
    </div>
    
    <div class="govuk-grid-column-one-third govuk-!-padding-left-5 govuk-!-margin-top-0">
      {% include "includes/"+v+"/san-actions-add.html" %}
    </div>

  </div>

</div>

{% endif %}
{% endfor %}

{% endblock %}
