{% extends "/layouts/v4.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post">
              <span class="govuk-caption-l">Review an education support plan</span>

              {{ govukRadios({
                name: "san-"+v+"-"+ref+"-review-otherpeopleconsulted",
                fieldset: {
                  legend: {
                    text: "Were any other people consulted or involved?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("san-"+v+"-"+ref+"-review-otherpeopleconsulted","Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("san-"+v+"-"+ref+"-review-otherpeopleconsulted","No")
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
