{% extends "/layouts/v5.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post">
              <span class="govuk-caption-l">Review education support plan</span>

              {% set detailsHtml %}
                {{ govukTextarea({
                  id: "san-"+v+"-"+ref+"-review-supportstaff-details",
                  name: "san-"+v+"-"+ref+"-review-supportstaff-details",
                  label: {
                    text: "Add recommended support details"
                  },
                  value: data["san-"+v+"-"+ref+"-review-supportstaff-details"]
                }) }}
                {{ govukInput({
                  id: "san-"+v+"-"+ref+"-review-supportstaff-hours",
                  name: "san-"+v+"-"+ref+"-review-supportstaff-hours",
                  label: {
                    text: "Add recommended number of hours"
                  },
                  hint: {
                    text: "This can be an estimate"
                  },
                  value: data["san-"+v+"-"+ref+"-review-supportstaff-hours"]
                }) }}
              {% endset -%}

              {{ govukRadios({
                name: "san-"+v+"-"+ref+"-review-supportstaff",
                fieldset: {
                  legend: {
                    text: "Review "+prisoner.firstName+" "+prisoner.lastName+"'s need for support in the classroom from prisoner learning needs staff",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("san-"+v+"-"+ref+"-review-supportstaff","Yes"),
                    conditional: {
                      html: detailsHtml
                    }
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("san-"+v+"-"+ref+"-review-supportstaff","No")
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
