{% extends "/layouts/v4.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post" action="">
              <span class="govuk-caption-l">Review an education support plan</span>

              {% set detailsHtml %}
                {{ govukInput({
                  id: "san-"+v+"-"+ref+"-review-personreviewing-name",
                  name: "san-"+v+"-"+ref+"-review-personreviewing-name",
                  type: "text",
                  spellcheck: false,
                  classes: "govuk-!-width-one-half",
                  label: {
                    text: "Full name of person"
                  },
                  value: data["san-"+v+"-"+ref+"-review-personreviewing-name"]
                }) }}
                {{ govukInput({
                  id: "san-"+v+"-"+ref+"-review-personreviewing-jobrole",
                  name: "san-"+v+"-"+ref+"-review-personreviewing-jobrole",
                  type: "text",
                  spellcheck: false,
                  classes: "govuk-!-width-one-half",
                  label: {
                    text: "Job role of person"
                  },
                  value: data["san-"+v+"-"+ref+"-review-personreviewing-jobrole"]
                }) }}
              {% endset -%}

              {{ govukRadios({
                name: "san-"+v+"-"+ref+"-review-personreviewing",
                fieldset: {
                  legend: {
                    text: "Are you the person reviewing the plan with "+prisoner.firstName+" "+prisoner.lastName+"?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("san-"+v+"-"+ref+"-review-personreviewing","Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("san-"+v+"-"+ref+"-review-personreviewing","No"),
                    conditional: {
                      html: detailsHtml
                    }
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
