{% extends "/layouts/v4.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add condition</span>
        <h2 class="govuk-heading-l">
          What self-declared or diagnosed condition do you want to record for Chris Atkinson?
        </h2>
        <div class='govuk-warning-text'>
          <span class='govuk-warning-text__icon' aria-hidden='true'>!</span>
          <strong class='govuk-warning-text__text'>
            <span class='govuk-visually-hidden'>Warning</span>
            You must have Chris Atkinson's consent to share this information
          </strong>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          {% for prisoner in data[v+'prisoners'] %}
            {% if prisoner.prisonerNumber == ref %}

              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-grid-column-one-half">
                  
                  <div class="govuk-hint">Select all that apply</div>

                  {% set conCount = 1 %}
                  {% for conditionlisted in data[v+'conditionlist'] %}

                    <div class="govuk-checkboxes__item">
                      <input 
                        class="govuk-checkboxes__input" 
                        id="san-{{v}}-{{ref}}-conditions{% if conCount > 1 %}-{{conCount}}{% endif %}" name="san-{{v}}-{{ref}}-conditions" 
                        type="checkbox" 
                        value="{{conditionlisted.conditionName}}"
                        {% if conditionlisted.conditionDetail %} 
                          data-aria-controls="san-{{v}}-{{ref}}-conditions-{{conditionlisted.conditionID}}-conditional"
                        {% endif %}
                        {% for selectedCondition in prisoner.conditions %}
                          {% if selectedCondition.conditionName == conditionlisted.conditionName %}
                            checked
                          {% endif %}
                        {% endfor %}>
                      <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions{% if conCount > 1 %}-{{conCount}}{% endif %}">
                        {{conditionlisted.conditionName}}
                      </label>
                    </div>
                    {% if conditionlisted.conditionDetail %}
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="san-{{v}}-{{ref}}-conditions-{{conditionlisted.conditionID}}-conditional">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="san-{{v}}-{{ref}}-conditions-{{conditionlisted.conditionID}}">
                            Add details
                          </label>
                          <input
                            class="govuk-input govuk-!-width-three-quarters"
                            id="san-{{v}}-{{ref}}-conditions-{{conditionlisted.conditionID}}"
                            name="san-{{v}}-{{ref}}-conditions-{{conditionlisted.conditionID}}"
                            type="text"
                            {% for selectedCondition in prisoner.conditions %}
                              {% if selectedCondition.conditionName == conditionlisted.conditionName %}
                                value="{{selectedCondition.conditionDetail}}"
                              {% endif %}
                            {% endfor %}
                          >
                            
                        </div>
                      </div>
                    {% endif %}
                    {% set conCount = conCount + 1 %}

                  {% endfor %}

                </div>
                <div class="govuk-grid-column-one-half">
                  
                  <div class="govuk-hint">Or any other:</div>

                  {% set otherconCount = 1 %}
                  {% for otherconditionlisted in data[v+'otherconditionlist'] %}

                    <div class="govuk-checkboxes__item">
                      <input 
                        class="govuk-checkboxes__input" 
                        id="san-{{v}}-{{ref}}-otherconditions{% if otherconCount > 1 %}-{{otherconCount}}{% endif %}" name="san-{{v}}-{{ref}}-otherconditions" 
                        type="checkbox" 
                        value="{{otherconditionlisted.conditionName}}"
                        {% if otherconditionlisted.conditionDetail %} 
                          data-aria-controls="san-{{v}}-{{ref}}-otherconditions-{{otherconditionlisted.conditionID}}-conditional"
                        {% endif %}
                        {% for selectedCondition in prisoner.otherConditions %}
                          {% if selectedCondition.conditionName == otherconditionlisted.conditionName %}
                            checked
                          {% endif %}
                        {% endfor %}>
                      <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-otherconditions{% if otherconCount > 1 %}-{{otherconCount}}{% endif %}">
                        {{otherconditionlisted.conditionName}}
                      </label>
                    </div>
                    {% if otherconditionlisted.conditionDetail %}
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="san-{{v}}-{{ref}}-otherconditions-{{otherconditionlisted.conditionID}}-conditional">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="san-{{v}}-{{ref}}-otherconditions-{{otherconditionlisted.conditionID}}">
                            Add details
                          </label>
                          <input
                            class="govuk-input govuk-!-width-three-quarters"
                            id="san-{{v}}-{{ref}}-otherconditions-{{otherconditionlisted.conditionID}}"
                            name="san-{{v}}-{{ref}}-otherconditions-{{otherconditionlisted.conditionID}}"
                            type="text"
                            {% for selectedCondition in prisoner.otherConditions %}
                              {% if selectedCondition.conditionName == otherconditionlisted.conditionName %}
                                value="{{selectedCondition.conditionDetail}}"
                              {% endif %}
                            {% endfor %}
                          >
                            
                        </div>
                      </div>
                    {% endif %}
                    {% set otherconCount = otherconCount + 1 %}

                  {% endfor %}
                </div>

              </div>
            {% endif %}
          {% endfor %}
    
            <!--div class="govuk-grid-column-one-half">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Acquired brain injury">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions">
                  Acquired brain injury
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-2" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Attention deficit hyperactivity disorder (ADHD or ADD)">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-2">
                  Attention deficit hyperactivity disorder (ADHD or ADD)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-3" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Autism spectrum disorder">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-3">
                  Autism spectrum disorder
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-4" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Developmental language disorder">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-4">
                  Developmental language disorder
                </label>
              </div> 
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-5" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Down's syndrome">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-5">
                  Down's syndrome
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Dyscalculia">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Dyscalculia
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Restricted mobility or dexterity condition">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Restricted mobility or dexterity condition
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Tourette's syndrome or tic disorder">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Tourette's syndrome or tic disorder
                </label>
              </div>  
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="san-{{v}}-{{ref}}-conditions-6" name="san-{{v}}-{{ref}}-conditions" type="checkbox" value="Visual impairment">
                <label class="govuk-label govuk-checkboxes__label" for="san-{{v}}-{{ref}}-conditions-6">
                  Visual impairment
                </label>
              </div>        
            </div>
            <div class="govuk-grid-column-one-half"-->

        </fieldset>
      </div>


    </div>
    <!--div class="govuk-grid-row">
              {
              {
                value: "Dyslexia",
                text: "Dyslexia",
                checked: checked("san-"+v+"-"+ref+"-conditions","Dyslexia")
              },
              {
                value: "Dyspraxia or developmental coordination disorder",
                text: "Dyspraxia or developmental coordination disorder",
                checked: checked("san-"+v+"-"+ref+"-conditions","Dyspraxia or developmental coordination disorder")
              },
              {
                value: "Foetal alcohol spectrum disorder",
                text: "Foetal alcohol spectrum disorder",
                checked: checked("san-"+v+"-"+ref+"-conditions","Foetal alcohol spectrum disorder")
              },
              {
                value: "Hearing impairment",
                text: "Hearing impairment",
                checked: checked("san-"+v+"-"+ref+"-conditions","Hearing impairment")
              },
              {
                value: "Learning disabilities",
                text: "Learning disabilities",
                checked: checked("san-"+v+"-"+ref+"-conditions","Learning disabilities"),
                conditional: {
                  html: learningDisabilitesHtml
                }
              },
              {
                value: "Mental health condition",
                text: "Mental health condition",
                checked: checked("san-"+v+"-"+ref+"-conditions","Mental health condition"),
                conditional: {
                  html: mentalHealthHtml
                }
              },
              {
                value: "Neurodegenerative condition",
                text: "Neurodegenerative condition",
                checked: checked("san-"+v+"-"+ref+"-conditions","Neurodegenerative condition"),
                conditional: {
                  html: neurodegenerativeHtml
                }
              },
              }
            ]
          }) }}
        
        </div>
        <div class="govuk-grid-column-one-half">
          
          {{ govukCheckboxes({
            name: "san-"+v+"-"+ref+"-otherconditions",
            classes: "govuk-checkboxes--small list-conditions",
            hint: {
              text: "Or any other:"
            },
            items: [
              {
                value: "Disabilities or health conditions",
                text: "Disabilities or health conditions",
                checked: checked("san-"+v+"-"+ref+"-otherconditions","Disabilities or health conditions"),
                conditional: {
                  html: disabilitesHealthHtml
                }
              },
              {
                value: "Language, speech or communication disorders",
                text: "Language, speech or communication disorders",
                checked: checked("san-"+v+"-"+ref+"-otherconditions","Language, speech or communication disorders"),
                conditional: {
                  html: languageSpeechCommHtml
                }
              },
              {
                value: "Learning difficulties",
                text: "Learning difficulties",
                checked: checked("san-"+v+"-"+ref+"-otherconditions","Learning difficulties"),
                conditional: {
                  html: learningDifficultiesHtml
                }
              },
              {
                value: "Long term medical conditions",
                text: "Long term medical conditions",
                checked: checked("san-"+v+"-"+ref+"-otherconditions","Long term medical conditions"),
                conditional: {
                  html: longTermMedicalHtml
                }
              },
              {
                value: "Neurological conditions",
                text: "Neurological conditions",
                checked: checked("san-"+v+"-"+ref+"-otherconditions","Neurological conditions"),
                conditional: {
                  html: neurologicalHtml
                }
              }
            ]
          }) }}
        
      </div>
    </div-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ govukButton({
            text: "Continue"
          }) }}
      </div>
    </div>
  </form>
</div>

{% endblock %}
