{% extends "layouts/home.html" %}

{% block content %}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">
    
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-grid-column-two-thirds">
          
          <h2 class="govuk-heading-m">Version 5
            {{ govukTag({
              classes: "govuk-tag--red govuk-!-static-margin-left-3",
              text: "WIP"
            }) }}
            <!--
            {{ govukTag({
              classes: "govuk-tag--green govuk-!-static-margin-left-3",
              text: "Ready for UR"
            }) }}
            -->
          </h2>
          <h3 class="govuk-heading-s">Edit and archive functionality</h3>
          
          {{ govukButton({
            href: "v5/",
            text: "View v5 prototype"
          }) }}
          
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
          
          <h2 class="govuk-heading-m">Version 4
            <!--
            {{ govukTag({
              classes: "govuk-tag--red govuk-!-static-margin-left-3",
              text: "WIP"
            }) }}
            -->
            {{ govukTag({
              classes: "govuk-tag--green govuk-!-static-margin-left-3",
              text: "Ready for UR"
            }) }}
          </h2>
          <h3 class="govuk-heading-s">Iterations from previous version</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Prisoner list updated with relevant data, and filters added to search (non-functioning)</li>
            <li>Prisoner profile overview design updates</li>
            <li>Ability to create an education support plan</li>
            <li>Changes to reviewing existing needs in create education support plan journey</li>
            <li>Ability to view an education support plan</li>
            <li>Ability to review an education support plan</li>
          </ul>
          <h3 class="govuk-heading-s">Limitations</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Search and filters not functional</li>
            <li>Add conditions journey is not up to date with designs in Figma (avoid for UR)</li>
            <li>No functionality to edit or archive support strategies, challenges or strengths</li>
          </ul>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Related Jira tickets
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1568" class="govuk-link" target="_blank">RR-1568 Record education support plan review</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1580" class="govuk-link" target="_blank">RR-1580 Design: view plan</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1585" class="govuk-link" target="_blank">RR-1585 Design: review existing needs as part of support plan creation</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1587" class="govuk-link" target="_blank">RR-1587 Design: prisoner list / manage caseload</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1614" class="govuk-link" target="_blank">RR-1614 Design: Stakeholder iterations to Create an education support plan</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1615" class="govuk-link" target="_blank">RR-1615 Design: Stakeholder iterations to Review an education support plan</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1616" class="govuk-link" target="_blank">RR-1616 Design: Stakeholder iterations to Refuse an education support plan</a></li>
                <li><a href="https://dsdmoj.atlassian.net/browse/RR-1630" class="govuk-link" target="_blank">RR-1630 Design: content updates following stakeholder feedback</a></li>
              </ul>  
            </div>
          </details>
          
          {{ govukButton({
            href: "v4/",
            text: "View v4 prototype"
          }) }}
          
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
          
          <h2 class="govuk-heading-m">Version 3
            {{ govukTag({
              classes: "govuk-!-static-margin-left-3",
              text: "Archived"
            }) }}
          </h2>
          <h3 class="govuk-heading-s">Iterations from previous version</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Prototype is now data driven (with 2 specific scenarios for UR)</li>
            <li>Ability to add support startegies, challenges and strengths from prisoner overview screen</li>
            <li>All functioning 'add journeys' will save data to the session and displayed in prototype</li>
            <li>Sub-navigation added within SAN to switch between Overview, Support strategies, Challenges, Strengths, Conditions, and Education support plan</li>
          </ul>
          <h3 class="govuk-heading-s">Limitations</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Search bars are not functional</li>
            <li>"Create education support plan" only works for 'Chris Atkinson'</li>
            <li>No functionality to edit or archive support strategies, challenges or strengths</li>
            <li>No functionality for conditions</li>
          </ul>
          {{ govukButton({
            href: "v3/",
            text: "View v3 prototype"
          }) }}
          
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
          
          <h2 class="govuk-heading-m">Version 2
            {{ govukTag({
              classes: "govuk-!-static-margin-left-3",
              text: "Archived"
            }) }}
          </h2>
          <p class="govuk-hint">Conversion of Figma designs into usable prototype</p>
          <h3 class="govuk-heading-s">Iterations from version 1</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Removal of superfluous data in prisoner list</li>
            <li>Merged "Are you the person who met" question with inputs for full name and job role of person who conducted the meeting</li>
            <li>Content updates throughout, mainly on hints for questions</li>
            <li>addition of Curious screener data for review</li>
          </ul>
          <h3 class="govuk-heading-s">Limitations</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Search bars are not functional</li>
            <li>Only functioning record is for "Chris Atkinson"</li>
            <li>Prisoner profile screen only allows user to navigate to "Create education support plan" journey</li>
            <li>Will need to use "Clear data" link in footer to reset stored data after "Create education support plan" has been completed</li>
          </ul>
          {{ govukButton({
            href: "v2/",
            text: "View v2 prototype"
          }) }}
          <p class="govuk-body-s"><a href="https://www.figma.com/design/RoxQOu1FjRQGFnbmMThdRh/Additional-Support-Needs?node-id=500-11828" class="govuk-link">V2 and related designs in Figma</a></p>
    
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    
          <h2 class="govuk-heading-m">Version 1
            {{ govukTag({
              classes: "govuk-!-static-margin-left-3",
              text: "Archived"
            }) }}</h2>
          <h3 class="govuk-heading-s">Entry to 'Support for additional needs service' including journey to create an education learning support plan</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Addition of 'Support for additional needs' (SAN) tile on DPS home page to access new sevrice</li>
            <li>Various methods to navigate to an individual's SAN profile</li>
            <li>Highlighting the need for an education support plan to be created on lists and profile screens</li>
            <li>Users can review existing needs, conditions, strengths, and support recommendations on individual's profile</li>
            <li>Users can create an education support plan, featuring staff involved, education specific support, setting of SMART targets and a review date.</li>
          </ul>
          <p class="govuk-body">
            <a
            href="https://www.figma.com/proto/RoxQOu1FjRQGFnbmMThdRh/Additional-Support-Needs?page-id=1%3A40455&node-id=7-305&p=f&viewport=218%2C122%2C0.03&t=WsZlFAIHTMe4OfG8-8&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=7%3A305&hide-ui=1" target=" _blank" class="govuk-link">View Figma prototype</a>
          </p>
          <p class="govuk-body">
            <a href="https://www.figma.com/design/RoxQOu1FjRQGFnbmMThdRh/Additional-Support-Needs?node-id=1-40455" target=" _blank" class="govuk-link">View Figma design file</a>
          </p>
    
        </div>
    
    
        <div class="govuk-grid-column-one-third">
    
          <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <!--p class="govuk-list govuk-!-font-size-16">
                <a class="govuk-link govuk-link--no-visited-state" target="_blank"
                  href="https://github.com/ministryofjustice/hmpps-education-and-work-plan-prototype">
                  Prototype Github repository
                </a>
              </p-->
              <p class="govuk-list govuk-!-font-size-16">
                <a class="govuk-link govuk-link--no-visited-state" target=" _blank"
                  href="https://miro.com/app/board/uXjVLYIYqAI=/">
                  Learner support plan overview - Miro board
                </a>
              </p>
              <p class="govuk-list govuk-!-font-size-16">
                <a class="govuk-link govuk-link--no-visited-state" target="_blank"
                  href="https://dsdmoj.atlassian.net/jira/software/c/projects/RR/boards/1693">
                  Learning & Work Progress Jira Board
                </a>
              </p>
              </ul>
            </nav>
          </aside>
    
        </div>

{% endblock %}
