{% extends "/layouts/v5.html" %}

{% block beforeContent %}
  <div class="govuk-width-container ">

    <nav class="govuk-breadcrumbs govuk-!-display-none-print" aria-label="Breadcrumb">
      <a href="javascript:history.go(-1);" class="govuk-back-link">Back</a>
    </nav>

  </div>
{% endblock %}

{% block content %}

  {% for prisoner in data[v+'prisoners'] %}
    {% if prisoner.prisonerNumber == ref %}

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">Create an education support plan</span>
            <h1 class="govuk-heading-l">Review {{ prisoner.firstName }} {{ prisoner.lastName }}'s additional support needs</h1>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form method="post">


                  {# set tracker for categories prisoner has content it #}
                  {% set cats = [] %}

                  {# Check if prisoner has any recorded needs #}
                  {%
                    if prisoner.needsSupport
                    or prisoner.needsChallenges 
                    or prisoner.needsStrengths
                    or prisoner.needsALNscreener
                  %}

                    {# Loop through all categories of need #}
                    {% for categories in data[v+'categories'] %}

                      {# Loop through all support needs of prisoner #}
                      {% for needs in prisoner.needsSupport %}
                        {# Check if needsSupport has an item in this category #}
                        {% if needs.needsSupportCategory == categories.categoryName %}
                          {# Add this category to an array of categories associated with this prisoner #}
                          {% if not categories.categoryName in cats %}
                            {% set cats = (cats.push(categories.categoryName), cats) %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {# Loop through all challenges of prisoner #}
                      {% for needs in prisoner.needsChallenges %}
                        {# Check if needsSupport has an item in this category #}
                        {% if needs.needsChallengeCategory == categories.categoryName %}
                          {# Add this category to an array of categories associated with this prisoner #}
                          {% if not categories.categoryName in cats %}
                            {% set cats = (cats.push(categories.categoryName), cats) %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {# Loop through all strengths of prisoner #}
                      {% for needs in prisoner.needsStrengths %}
                        {# Check if needsSupport has an item in this category #}
                        {% if needs.needsStrengthCategory == categories.categoryName %}

                          {# Add this category to an array of categories associated with this prisoner #}
                          {% if not categories.categoryName in cats %}
                            {% set cats = (cats.push(categories.categoryName), cats) %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {# Loop through all ALN screener results of prisoner #}
                      {% for needs in prisoner.needsALNscreener %}
                        {# Check if needsSupport has an item in this category #}
                        {% if needs.needsALNscreenerCategory == categories.categoryName %}

                          {# Add this category to an array of categories associated with this prisoner #}
                          {% if not categories.categoryName in cats %}
                            {% set cats = (cats.push(categories.categoryName), cats) %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                    {% endfor %}

                    {% for cat in cats %}

                      <section class="app-summary-card govuk-!-margin-bottom-6">
                        <header class="app-summary-card__header">
                          <h2 class="app-summary-card__title">
                            {{ cat }}
                          </h2>
                        </header>
                        <div class="app-summary-card__body">
                          <dl class="govuk-summary-list san-needs-list">
                          
                            {% set countSup = 0 %}
                            {# Loop through all support needs of prisoner #}
                            <div class="govuk-summary-list__row san-needs-list-header">
                              <dt class="govuk-summary-list__key">
                                Support strategies
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <!--a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/add/category" class=" govuk-link--no-visited-state govuk-body-s">Add support strategy</a-->
                              </dd>
                            </div>
                            {% for needs in prisoner.needsSupport %}
                              {# Check if needsSupport has an item in this category #}
                              {% if needs.needsSupportCategory == cat %}
                                {% set countSup = countSup + 1 %}

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                    {{ needs.needsSupportDescription | safe }}
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <span class="govuk-body-s">Added {{ needs.needsSupportDate }} by {{ needs.needsSupportAuthor }}</span>
                                  </dd>
                                </div>

                              {% endif %}
                            {% endfor %}

                            {% if countSup == 0 %}
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                  None recorded
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/support/add/category" class=" govuk-link--no-visited-state govuk-body-s">Add support strategy</a>
                                </dd>
                              </div>
                            {% endif %}
                          
                            {% set countCha = 0 %}
                            {# Loop through all support needs of prisoner #}
                            {% for needs in prisoner.needsChallenges %}
                              {# Check if needsChallenges has an item in this category #}
                              {% if needs.needsChallengeCategory == cat %}
                                {% if countCha == 0 %}
                                <div class="govuk-summary-list__row san-needs-list-header">
                                  <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                                    Challenges
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <!--a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/challenges/add/category" class="govuk-link--no-visited-state govuk-body-s">Add challenge</a-->
                                  </dd>
                                </div>
                                {% endif %}
                                {% set countCha = countCha + 1 %}

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                    {{ needs.needsChallengeDescription | safe }}
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <span class="govuk-body-s">Added {{ needs.needsChallengeDate }} by {{ needs.needsChallengeAuthor }}</span>
                                  </dd>
                                </div>
                            
                              {% endif %}
                            {% endfor %}
                          
                            {% set countStr = 0 %}
                            {# Loop through all support needs of prisoner #}
                            {% for needs in prisoner.needsStrengths %}
                              {# Check if needsStrengths has an item in this category #}
                              {% if needs.needsStrengthCategory == cat %}
                                {% if countStr == 0 %}
                                <div class="govuk-summary-list__row san-needs-list-header">
                                  <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                                    Strengths
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <!--a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/strengths/add/category" class="govuk-link--no-visited-state govuk-body-s">Add strength</a-->
                                  </dd>
                                </div>
                                {% endif %}
                                {% set countStr = countStr + 1 %}

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                    {{ needs.needsStrengthDescription | safe }}
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <span class="govuk-body-s">Added {{ needs.needsStrengthDate }} by {{ needs.needsStrengthAuthor }}</span>
                                  </dd>
                                </div>
                            
                              {% endif %}
                            {% endfor %}
                          
                            {% set countALN = 0 %}
                            {# Loop through all ALN screener results of prisoner #}
                            {% for needs in prisoner.needsALNscreener %}
                              {# Check if needsScreener has an item in this category #}
                              {% if needs.needsALNscreenerCategory == cat %}
                                {% if countALN == 0 %}
                                <div class="govuk-summary-list__row san-needs-list-header">
                                  <dt class="govuk-summary-list__key govuk-!-padding-top-6">
                                    Additional learning needs screener result
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <!--a href="/{{ v }}/san/{{ prisoner.prisonerNumber }}/strengths/add/category" class="govuk-link--no-visited-state govuk-body-s">Add strength</a-->
                                  </dd>
                                </div>
                                {% endif %}
                                {% set countALN = countALN + 1 %}

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                    {{ needs.needsALNscreenerDescription | safe }}
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <span class="govuk-body-s">Added {{ needs.needsALNscreenerDate }} by {{ needs.needsALNscreenerAuthor }}</span>
                                  </dd>
                                </div>
                            
                              {% endif %}
                            {% endfor %}
                          </dl>        

                        </div>
                      </section>
                      {% set countSup = 0 %}
                    {% endfor %}

                  {% else %}
                  
                    <section class="app-summary-card govuk-!-margin-bottom-6">
                      <div class="app-summary-card__body">
                        <p class="govuk-body govuk-!-margin-top-3">This prisoner has no support strategies, challenges, strengths or conditions recorded.</p>
                      </div>
                    </section>

                  {% endif %}

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>

          </div>
          
          <div class="govuk-grid-column-one-third govuk-!-padding-left-5 govuk-!-margin-top-0">

            <div class="hmpps-actions-block govuk-!-margin-bottom-5 govuk-!-padding-bottom-3">
              <ul class="hmpps-actions-block__list">
                <li class="noflex">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Actions</h3>
                </li>
                <li class="noflex noborder profile-action-links govuk-!-margin-top-2">
                  <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add support strategy</a>
                </li>
                <li class="noflex noborder profile-action-links">
                  <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add challenge</a>
                </li>
                <li class="noflex noborder profile-action-links">
                  <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add strength</a>
                </li>
                <li class="noflex noborder profile-action-links">
                  <a href="javascript:preventDefault();" class="govuk-link govuk-link--no-visited-state">Add condition</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endblock %}
